services:
  redis:
    image: redis
    volumes:
      - redis_data:/data
    ports:
      - 6379:6379
    # The following line might be uncommented to run on MacOS
    # for testing and development purposes only.
    # network_mode: host
  voip:
    image: ghcr.io/veloxvoip/sip
    network_mode: host
    environment:
      SIP_CONFIG_BODY: |
        redis:
          address: 'localhost:6379'
        transports:
          - network: "udp"
            bind: 0.0.0.0
            port: 5060
          - network: "tcp"
            bind: 0.0.0.0
            port: 5060
        rtp_port: 10000-20000
        use_external_ip: true
        logging:
          level: debug
    depends_on:
      - redis
volumes:
  redis_data:
